* 
{
    margin: 0;
    padding: 0;
}
/* Links Code */
a 
{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
a:hover, a:focus 
{
    color: #f7e6ff;
    background-color: #000000;
}
/* Header Settings Code */
header 
{
    display: block;
    border-bottom: 3px solid #282a35;
    background-color: white;
}
header h1 
{
    padding: .6em 3em;
    font-size: 250%;
}
header img
{
    float: left;
    padding-left: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    max-height: 5em;
}
/* Navigation Settings Code */
nav ul 
{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    background-color: #282a35;
    color: white;
}
nav ul li { flex-basis: 20%; }
nav ul li a 
{
    display: block;
    padding: 1em 0em 1em 0em;

}
/* Body/Main Setting Code*/
main 
{
    display: flex;
    padding: 0px 18px 18px;
}
main p
{
    font-size: 120%;
}
main h2
{
    font-size: 175%;
    color: purple;
    padding-top: 12px;
}
/* Section Setting Code */
section 
{
    max-width: 350px;
}
/* Aside Setting Code */
aside 
{
    padding-left: 14px;
    padding-right: 14px;
}
aside hr
{
    width: 75%;
    margin: auto;
}
/* Table Setting Codes Below */
table 
{
    display: flex;
}
.right-map 
{
    padding-left: 150px;
    max-width: 100%;
    padding-top: 14px;
    display: flex;
}
.menu 
{
    text-align: center;
    padding-left: 14px;
    border-spacing: 0px;
    display: flex;
}

/* Classes Setting Codes */
.background-section
{
    background-color: #f2f2f2;
    padding-right: 14px;
}
.index-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/photos/pinot-noir-red-wine-grapes-on-vine-at-winery-picture-id611880220?k=20&m=611880220&s=612x612&w=0&h=mamQ3DFB4k5JEIZcjoN72XWp9CGKapErAGwVvnO1RbY=);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.image-text
{
    text-align: center;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}
.image-text h1
{
    padding-top: 75px;
    font-size: 75px;
}
.image-text hr
{
    margin: auto;
    width: 30%;
}
.button 
{
    border: none;
    display: inline-block;
    text-align: center;
    background-color: #1e7b1e;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 5px;
}
.button:hover 
{       
    color: white;
    background-color: #000000;
}
.remainder 
{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px;
}
.center-text
{
    text-align: center;
}
.column
{
    float: left;
    width: 25%;
}
.image-right 
{
    max-height: 70%;
    max-width: 40%;
    border-radius: 10%;
    padding-right: 16px;
    padding-bottom: 4px;
    float: right;
}
.image-left 
{
    float: left;
    max-height: 70%;
    max-width: 40%;
    border-radius: 10%;
    padding-right: 16px;
    padding-bottom: 4px;
}

/* Legend and Form Links Below */
fieldset
{
    padding-bottom: 14px;
    padding: .5em 1px;
}
legend 
{
    font-weight: bold;
    font-size: 125%;
    margin-bottom: .5em;
    padding-left: 4px;
    padding-right: 4px;
}
label, input
{
    text-align: center;
    padding: 4px;
    font-size: 75%;
}
legend 
{
    font-weight: bold;
    font-size: 125%;
    margin-bottom: .5em;
    padding-left: 4px;
    padding-right: 4px;
}

figcaption {
    font-size: 150%;
    color: purple;
    padding-top: 12px;
}

.anita table {
    border: 1px solid purple;
    border-collapse: collapse;
    background-color: aliceblue;
}

.anita th {
    border: 1px solid purple;
    border-collapse: collapse;
    background-color: aliceblue;
}

.anita td {
    border: 1px solid purple;
    border-collapse: collapse;
    background-color: aliceblue;
    padding: 4px;
}

ul {
    list-style-position: inside;
    padding: 5px;
}

.style_circle {
    list-style-type: circle;
}

.center_info {
    margin-left: auto;
    margin-right: auto;
}
/* More Buttons & Links Codes Below */
.link
{
    font-weight: bold;
    color: purple;
}
.link:hover
{
    background-color: white;
    color: #330080;
}
.button2
{
    border: none;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: purple;
}
.button2:hover 
{
    color: white;
    background-color: #000000;
}
/* Footer Settings Code */
footer
{
    clear: both;
    background-color: purple;
}
footer p 
{
    padding: .6em 1em;
    text-align: center;
    color: white;
}
